html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.btn{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-radius: 1px;
  font-family: Aileron,sans-serif;
  font-weight: 700;
  box-shadow: none;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  text-transform: uppercase;
}

.btn-sm{
  background: #487fff;
  color: #fff;
  padding: 8px 19px;
  font-size: .74375rem;
}

.btn-lg{
  padding: 11px 25px;
  color: #fff;
  font-size: .875rem;
  background: #487fff;
}

.navbar{
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.img-res {
  width: 100%;
  height:auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 30px;
}
.col {
  padding: 10px;
  box-sizing: border-box;
}

.lg-1 {
  width: 8.333%;
}
.lg-2 {
  width: 16.666%;
}
.lg-3 {
  width: 24.999%;
}
.lg-4 {
  width: 33.332%;
}
.md-5 {
  width: 41.665%;
}
.md-6 {
  width: 49.998%;
}
.md-12 {
  width: 100%;
}

@media screen and (max-width:1200px) {
  .md-1 {
      width: 8.333%;
  }
  .md-2 {
      width: 16.666%;
  }
  .md-3 {
      width: 24.999%;
  }
  .md-4 {
      width: 33.332%;
  }
  .md-5 {
      width: 41.665%;
  }
  .md-6 {
      width: 49.998%;
  }
  .md-12 {
      width: 100%;
  }
}

@media screen and (max-width:800px) {
  .sm-1 {
      width: 8.333%;
  }
  .sm-2 {
      width: 16.666%;
  }
  .sm-3 {
      width: 24.999%;
  }
  .sm-4 {
      width: 33.332%;
  }
  .sm-5 {
      width: 41.665%;
  }
  .sm-6 {
      width: 49.998%;
  }
  .sm-12 {
      width: 100%;
  }
}

@media screen and (max-width:570px) {
  .xs-1 {
      width: 8.333%;
  }
  .xs-2 {
      width: 16.666%;
  }
  .xs-3 {
      width: 24.999%;
  }
  .xs-4 {
      width: 33.332%;
  }
  .xs-5 {
      width: 41.665%;
  }
  .xs-6 {
      width: 49.998%;
  }
  .xs-12 {
      width: 100%;
  }
}

/** ADDED DURING FOOTER **/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt,
em, embed, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label,
legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp,
section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot,
th, thead, time, tr, tt, u, ul, var, video {
  margin:0;
  padding: 0;
}

.pad-0 {
  padding: 0;
}
.pad-l-0 {
  padding-left: 0;
}
.pad-r-0 {
  padding-right: 0;
}
.pad-l-1 {
  padding-left: 1em;
}
.pad-r-1 {
  padding-right: 1em;
}

.mar-0 {
  margin: 0;
}
.mar-b-1 {
  margin-bottom: 1rem;
}
.mar-b-2 {
  margin-bottom: 2rem;
}
.mar-t-1 {
  margin-top: 1rem;
}

.align-c {
  text-align: center;
}
footer {
  display: block;
}

.container {
  max-width: 1215px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  box-sizing: content-box;
}

.cols {
  display: flex;
}

.cols-r {
  flex-direction: row;
}

.cols-rr {
  flex-direction: row-reverse;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.opacity-half {
  opacity: .5;
}

.letter-spacing-medium {
  letter-spacing: .05em;
}

.font-size-sm {
  font-size: small;
}
.font-size-min {
  font-size: .875rem;
}
.font-size-md {
  font-size: 1.5rem;
}

.font-weight-normal {
  font-weight: normal;
}
.font-weight-light {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.col-item {

}

.width-100 {
  width: 100%;
}
.width-70 {
  width: 70%;
}
.width-50 {
  width: 50%;
}
.bg-white {
  background: white;
}
.bg-transparent {
  background-color: transparent;
}

.btn.bg-white {
  color: black
}

ol, ul {
  list-style: none;
}
