html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .btn{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: none;
      border-radius: 1px;
      font-family: Aileron,sans-serif;
      font-weight: 700;
      box-shadow: none;
      text-align: center;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      transition: all .3s;
      text-transform: uppercase;
  }
  
  .btn-sm{
      background: #487fff;
      color: #fff;
      padding: 8px 19px;
      font-size: .74375rem;
  }
  
  .btn-lg{
      padding: 11px 25px;
      color: #fff;
      font-size: .875rem;
      background: #487fff;
  }
  
  .navbar{
      display: flex;
      -webkit-box-pack: justify;
      -webkit-box-align: center;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
  }
  
  .img-res {
      width: 100%;
      height:auto;
  }
  
  
  .row {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 30px;
  }
  .col {
      padding: 10px;
      box-sizing: border-box;
  }
  
  .lg-1 {
      width: 8.333%;
  }
  .lg-2 {
      width: 16.666%;
  }
  .lg-3 {
      width: 24.999%;
  }
  .lg-4 {
      width: 33.332%;
  }
  .md-5 {
      width: 41.665%;
  }
  .md-6 {
      width: 49.998%;
  }
  .md-12 {
      width: 100%;
  }
  
  @media screen and (max-width:1200px) {
      .md-1 {
          width: 8.333%;
      }
      .md-2 {
          width: 16.666%;
      }
      .md-3 {
          width: 24.999%;
      }
      .md-4 {
          width: 33.332%;
      }
      .md-5 {
          width: 41.665%;
      }
      .md-6 {
          width: 49.998%;
      }
      .md-12 {
          width: 100%;
      }
  }
  
  @media screen and (max-width:800px) {
      .sm-1 {
          width: 8.333%;
      }
      .sm-2 {
          width: 16.666%;
      }
      .sm-3 {
          width: 24.999%;
      }
      .sm-4 {
          width: 33.332%;
      }
      .sm-5 {
          width: 41.665%;
      }
      .sm-6 {
          width: 49.998%;
      }
      .sm-12 {
          width: 100%;
      }
  }