body{
    font-family: Lato,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header{
    background: #fff;
}
.header .logo-svg {
  display: block;
  width: 103px;
  height: 29px;
  fill: #487fff;
}

.body{
    background:#f2f3fa;
}

.footer {
  background: #2b313e;
  color: white;
}

.footer .col-item input {
  height: 100%;
  /* padding: .5rem; */
}

.footer .logo-svg {
  display: block;
  width: 103px;
  height: 29px;
  fill: #487fff;
}

.footer .footer-1 {
  padding-top: 9vw;
  padding-bottom: 6.75vw;
}
.footer .footer-2 {
  padding: calc(1.5rem + 2vw) 0;
  border-top: 2px solid hsla(0,0%,100%,.1);
}

.footer .footer-1 form {
  padding-top: .4rem;
}

.footer .footer-1 form div:first-child {
  margin-bottom: .5rem;
}

.footer .footer-1 input {
  padding: 7.9px 15px;
  border: 2px solid #dbdde8;
  border-radius: 1px;
  font-family: inherit;
  font-weight: 400;
  -webkit-appearance: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #222;
}

.footer .footer-1 button {
  padding: 11px 25px;
}

.footer a {
  color: #fff;
}

.footer ul {
  column-count: 2;
  column-width: 100px;
  column-gap: 15px;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: .5em;
  display: inline-block;
  width: 100%;
}

/** MAKE YOU WEBSITE **/
.smake {
  background: #f2f3fa;
  padding: 4.5vw;
}

.smake .smake-container {
  padding-top: 4.5vw;
  padding-bottom: 4.5vw;
}

.smake .smake-content {
  max-width: 810px;
  margin: 0 auto;
}

.smake .smake-content:after {

}

.smake .smake-content h2 {
  margin-bottom: 1em;
  font-family: Aileron,sans-serif;
  line-height: 1.2;
  letter-spacing: .05em;
  color: #3c3d45;
  font-weight: 200;
  font-size: 2rem;
}

.smake .smake-content p {
  display: block;
  font-weight: 200;
  letter-spacing: .05em;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.smake .actions {
  max-width: 810px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;
}



@media screen and (max-width:570px) {
  .smake .actions a {
    display: block;
  }
}
/** FUTURES **/
.sfuture {
  background: #f2f3fa;
}

.sfuture .sfuture-container {
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 3%;
  /* margin-bottom: 3%; */
  padding-top: 4.5vw;
  position: relative;
}

.sfuture .sfuture-content {
  display: block;
  background: url('../images/shapes-1.svg') no-repeat;
  background-position: 20% 60%;
  background-size: 90%;
  padding: 6%;
  background-color: #fff;
  border-radius: 1px;
  text-decoration: none;
  color: #4f505b;
}

.sfuture .sfuture-content:after {
  content: "";
  background: url(../images/shapes-2.svg) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right 30% top 70%;
}

.sfuture .sfuture-content h2 {
  margin-bottom: 1em;
  font-family: Aileron,sans-serif;
  line-height: 1.2;
  letter-spacing: .05em;
  color: #3c3d45;
  font-weight: 200;
  font-size: 2rem;
}

.sfuture .sfuture-content p {
  font-size: 1.125rem;
  font-weight: 300;
}
