body{
    font-family: Lato,sans-serif;
    height: 100%;
}

.header{
    background: #fff;
}
.header .logo-svg {
  display: block;
  width: 103px;
  height: 29px;
  fill: #487fff;
}

.body{
    background:#f2f3fa;
}

.footer {
  
}

.footer .logo-svg {

}
